<form aria-labelledby="paymentMethods">
  <h1 id="paymentMethods" class="h3 mb-4">Payment methods</h1>

  <div
    role="radiogroup"
    class="payment-methods"
    aria-labelledby="paymentMethod"
    (keyup.arrowup)="handleKeyupChange(direction.Left)"
    (keyup.arrowleft)="handleKeyupChange(direction.Left)"
    (keyup.arrowdown)="handleKeyupChange(direction.Right)"
    (keyup.arrowright)="handleKeyupChange(direction.Right)"
  >
    <div
      *ngFor="let method of paymentMethods"
      class="payment-method"
      [focus]="method.focus"
      [ngClass]="{ 'is-selected': method.selected }"
      [attr.aria-checked]="method.selected"
      [tabindex]="method.focus ? 0 : -1"
      (click)="selectPaymentMethod(method)"
      (keyup.space)="selectPaymentMethod(method)"
    >
      <img
        class="payment-method__image"
        [src]="method.imageUrl"
        [alt]="method.name"
      />
    </div>
  </div>
</form>
