@import "../../../../styles/abstracts/variables";
@import "../../../../styles/vendors/bootstrap";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $spacer;
}

.sidebar {
  &__search {
    padding-bottom: $spacer;
  }

  &__items {
    margin-top: $spacer;
  }

  &__item {
    font-weight: 500;
    padding-top: $spacer / 4;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@include media-breakpoint-up(md) {
  :host {
    border-right: 1px solid $border-color;
  }
}
