@import "../../../../styles/abstracts/variables";
@import "../../../../styles/vendors/bootstrap";

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $spacer;
  border-bottom: 1px solid $border-color;

  &__search {
    margin-bottom: $spacer;
  }

  &__link {
    color: $body-color;
  }

  &__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    font-weight: 500;
    padding-top: $spacer / 4;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@include media-breakpoint-up(md) {
  :host {
    border-bottom: none;
    border-right: 1px solid $border-color;
  }
}
