<div class="sidebar__search">
  <form>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search a task"
        (keyup)="searchTerm$.next($event.target.value)"
      />
    </div>
  </form>

  <div class="sidebar__items" *ngIf="filteredTasks$ | async as tasks">
    <div
      class="sidebar__item"
      *ngFor="let task of tasks; let index = index; trackBy: trackByTask"
      (click)="openPath('task/' + task.name)"
    >
      {{ index }}. {{ task.title }}
    </div>

    <div *ngIf="!tasks.length">
      No results found
    </div>
  </div>
</div>
