<h1 class="h5">This is a h1</h1>
<h5 class="h1">This is a h5</h5>

<hr />

<button class="btn btn-link">This is a button</button>
<a href="#" class="btn btn-primary">This is a link</a>

<hr />

<p tabindex="0">This is some focusable text</p>
<p tabindex="0">This is another focusable text</p>
<p tabindex="0">Come on! WTH is going on here!</p>

<hr />

<label for="firstName">
  First name
  <input id="firstName" type="text" />
</label>

<hr />

<img
  src="https://images.unsplash.com/photo-1603823253418-f3435811648a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80"
  alt=""
  height="900"
/>
