<ul class="footer__items">
  <li class="footer__item">
    <a class="footer__link">Resources</a>
  </li>
  <li class="footer__item">
    <a class="footer__link">Contact</a>
  </li>

  <li class="footer__item">
    <a class="footer__link" href="https://www.w3.org/TR/wai-aria-practices-1.1/"
      >Cheatsheet</a
    >
  </li>
</ul>

<ul class="footer__social-networks">
  <li>
    <a
      class="footer__social-network-link"
      href="https://twitter.com/plainconcepts"
      ><i class="fab fa-twitter"></i
    ></a>
  </li>

  <li>
    <a
      class="footer__social-network-link"
      href="https://es-es.facebook.com/plainconcepts"
      ><i class="fab fa-facebook-f"></i
    ></a>
  </li>
  <li>
    <a
      class="footer__social-network-link"
      href="https://www.instagram.com/plainconcepts"
      ><i class="fab fa-instagram"></i
    ></a>
  </li>
</ul>
