@import "../../../../styles/abstracts/variables";

$footer-background: $yellow;
$footer-height: 8rem;

.footer {
  display: flex;
  padding: $spacer;
  background-color: $footer-background;
  height: $footer-height;
  justify-content: space-between;

  &__item {
    margin-bottom: $spacer / 4;
    margin-right: $spacer;
  }

  &__link {
    color: $white;
  }

  &__social-network-link {
    color: $white;
    font-size: 1.5rem;
    margin-left: $spacer;
  }

  &__items,
  &__social-networks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
