@import "../../../../styles/abstracts/variables";

$icon-color: #333;
$header-height: 4rem;

.header {
  align-items: center;
  border-bottom: 1px solid $border-color;
  display: flex;
  font-size: 1.5rem;
  font-weight: bolder;
  height: $header-height;
  padding: $spacer;

  &__icon {
    color: $icon-color;
    text-decoration: none;
  }
}
