<section class="px-font px-line-height">
  <h2>Example heading px</h2>
  <p>
    Lorem ipsum ullamcorper semper sem enim tristique leo pretium, malesuada
    tincidunt amet mi non sagittis blandit himenaeos, porttitor senectus ad
    inceptos enim potenti morbi.
  </p>
  <p>
    These paragraphs are using
    <strong>font-size: 16px, line-height: 24px</strong>
  </p>
</section>

<section class="rem-font px-line-height">
  <h2>Example heading rem</h2>
  <p>
    Lorem ipsum ullamcorper semper sem enim tristique leo pretium, malesuada
    tincidunt amet mi non sagittis blandit himenaeos, porttitor senectus ad
    inceptos enim potenti morbi.
  </p>
  <p>
    These paragraphs are using
    <strong>font-size: 1rem, line-height: 24px</strong>
  </p>
</section>

<section class="rem-font unitless-line-height">
  <h2>Example heading rem</h2>
  <p>
    Lorem ipsum ullamcorper semper sem enim tristique leo pretium, malesuada
    tincidunt amet mi non sagittis blandit himenaeos, porttitor senectus ad
    inceptos enim potenti morbi.
  </p>
  <p>
    These paragraphs are using
    <strong>font-size: 1rem, line-height: 1.5</strong>
  </p>
</section>
