<div class="h2 mb-4">
  Web accessibility
</div>

<p>
  The main goal of this web is to test your abilities in order to make a web
  accessible. So, be aware of the accessibility of this website, it is
  completely broken and you should not rely on that code to implement any
  accessible website.
</p>

<p>
  We have tried to implement the most common mistakes so you can explore,
  investigate and try to find a fix for them. Usually, there is more than one
  solution for these issues, so, feel free to test your solution with any
  accessibility tools. We encourage you to fix all the tasks included in the
  list and also propose any task you consider we are missing or could be
  interesting to touch.
</p>
